################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AplicaçãoSupport/AplicaçãoSupport/AplicaçãoSupport.csproj
C:\Users\gabri\source\repos\SupportGestorios\AplicaçãoSupport\.vs