################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AplicaçãoSupport/AplicaçãoSupport/AplicaçãoSupport.csproj
C:\Users\gabri\source\repos\SupportGestorios\AplicaçãoSupport\.vs
/AplicaçãoSupport/.vs
/AplicaçãoSupport/.vs/AplicaçãoSupport
AplicaçãoSupport/.vs/AplicaçãoSupport/FileContentIndex/3f346d6e-70dd-42d1-ad9d-b2f9b7b04f47.vsidx
